* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  scroll-behavior: smooth;
  text-overflow: ellipsis;
  -webkit-transition: 100ms all ease;
  transition: 100ms all ease;
}

html, body {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

* ::-webkit-scrollbar {
  width: 3px;
  display: none;
}

* ::-webkit-scrollbar-track {
  border-radius: 10px;
}

* ::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #aca9a9;
}

* ::-webkit-scrollbar-thumb:hover {
  background-color: gray;
}

html, body {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.container #nav {
  background-color: #202c33;
  color: white;
  -webkit-box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
}

.container #nav .nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
}

.container #nav .nav-items button {
  margin-left: 0.5rem;
  color: white;
  border: none;
  background: none;
}

.container #nav .nav-items button span {
  font-size: 16px;
}

.container #nav .nav-items button:hover {
  cursor: pointer;
}

.container #nav #nav-anchor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container #nav #nav-anchor a {
  color: #ffffff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: none;
  line-height: 1.5;
  font-size: 11px;
  position: relative;
}

.container #nav #nav-anchor a .insignia {
  margin-left: 0.2rem;
  text-align: center;
  border-radius: 100%;
  background-color: white;
  width: 11px;
  height: 11px;
  color: #008069;
}

.container #nav #nav-anchor a .punto {
  margin-left: 0.2rem;
  line-height: 12px;
  font-size: 7px;
}

.container #nav #nav-anchor #cam-button {
  color: white;
  width: 1rem;
}

.container main {
  width: 100%;
  height: 100%;
  overflow-x: auto;
}

.container main #main-container {
  width: 400%;
  height: calc(100vh - 5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  background-color: #111b21;
  color: #ffffff;
}

.container main #main-container section {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.container main #main-container #section-chats {
  position: relative;
}

.container main #main-container #section-chats #icon-chat {
  position: absolute;
  color: #fff;
  right: 2rem;
  bottom: 2rem;
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 2.1;
  border-radius: 100%;
  background-color: #00a884;
}

.container main #main-container #section-chats article {
  padding: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container main #main-container #section-chats article .name-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.container main #main-container #section-chats article .name-text span {
  font-size: 15px;
}

.container main #main-container #section-chats article .name-text p {
  font-size: 13px;
}

.container main #main-container #section-chats article .name-text small {
  font-size: 11px;
  color: #81919a;
}

.container main #main-container #section-chats article .indicativos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 4rem;
  text-align: right;
}

.container main #main-container #section-chats article .indicativos .circle {
  background-color: #25d366;
  text-align: center;
  line-height: 1;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  margin-left: 2rem;
}

.container main #main-container #section-chats article .indicativos .circle small {
  color: #ffffff;
}

.container main #main-container #section-chats article .indicativos #time {
  font-size: 9px;
}

.container main #main-container #section-chats article .indicativos span {
  font-size: 15px;
}

.container main #main-container #section-chats article img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}

.container main #main-container #section-states article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  margin: 0.5rem;
}

.container main #main-container #section-states article .cont-circulo {
  width: 3.5rem;
}

.container main #main-container #section-states article .state-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container main #main-container #section-states article img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  margin-right: 0.5rem;
}

.container main #main-container #section-states article .span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container main #main-container #section-states .spam {
  font-size: 12px;
  margin-left: 1rem;
}

.container main #main-container #section-call article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  margin: 0.5rem;
}

.container main #main-container #section-call article .call-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container main #main-container #section-call article .call-name .ms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container main #main-container #section-call article .call-name .ms span {
  font-size: 15px;
}

.container main #main-container #section-call article .call-name .ms small {
  margin-left: 1.5rem;
}

.container main #main-container #section-call article img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  margin-right: 0.5rem;
}

.container main #main-container #section-call article span {
  position: relative;
  top: 0.8rem;
}

.ancla-girada {
  width: 1rem;
  margin-left: 2rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.ignorado {
  color: #81919a;
}

.visto {
  color: #53bdeb;
}

.select {
  border-bottom: 2px solid white;
}

.phone_missed {
  color: red;
  border: 3px solid red;
}

.circulo {
  background-image: url(../imagenes/estado.jpg);
  background-size: cover;
  border-radius: 100%;
}

.right {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

.perdida {
  color: red;
}

.recibida {
  color: #25d366;
}

#temas {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: white;
  width: 7rem;
  height: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  display: none;
  z-index: 1000;
  color: #000;
}

#temas div {
  padding: 0.5rem;
}

#temas div:hover {
  cursor: pointer;
}

#temas input {
  outline: none;
}

#temas span {
  font-weight: bold;
  color: black;
  font-size: 12px;
}
/*# sourceMappingURL=style-interfaz.css.map */